TP0M8Y_0928/tp0m8y_orarend.dtd

<!ELEMENT tp0m8y_orarend (ora)+>
    <!ELEMENT ora (targy, idopont, helyszin, oktato, szak)?>
        <!ATTLIST ora
            id ID #REQUIRED
            tipus (eloadas|gyakorlat) "eloadas">
        
        <!ELEMENT targy (#PCDATA)>
        <!ELEMENT idopont (nap, tol, ig)+>
			<!ELEMENT nap (#PCDATA)>
			<!ELEMENT tol (#PCDATA)>
			<!ELEMENT ig (#PCDATA)>
        <!ELEMENT helyszin (#PCDATA)>
        <!ELEMENT oktato (#PCDATA)>
        <!ELEMENT szak (#PCDATA)>